:root{
	--bg: #f8f8ff;
	--primary: #4268ff;
	--secondary: #6f7ebc;
	--ancho: 20rem;
	--alto: 25rem;
}
body{
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

 .card_icon{
	  background-color:white;
 }
@media (max-width: 768px) {
.servicios{
	padding-top:1rem;
	height:auto;
}
.servicios h4{
	margin:0.5rem;
}
.servicios h3{
	margin:0.5rem;
}
.servicios h2{
	font-size: 2em;
	margin:0.5rem;
}
.servicios-flex{
	flex-direction:column;
}

section.servicios span{
	background-color:white;
	padding:1rem;
	margin-top:2rem;
	margin-bottom:2rem;
	border-radius:50%;
	width: 8rem;
    aspect-ratio: 1 / 1;
	display:flex;
	justify-content:center;
	align-items: center;
}
.fa-bolt-lightning, .fa-chalkboard-user, .fa-code, .fa-sitemap  {
  font-size: 4rem;
  color: Blue;
}


}