body{
  overflow-y: auto;
  overflow-x: hidden;
  background:black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav{
  background-color:black;
}
nav img{
	width: 4rem;
    aspect-ratio: 1 / 1;
	margin-left:8rem;
	margin-right:2rem;
}
nav div{
	margin-left:1rem;
}
nav button{
	background-color:black;
	border:none;
	margin-right:8rem;
	width: 4rem;
    aspect-ratio: 1 / 1;
}
nav h3, nav p, nav a{color:white;}
.fa-bars  {
  font-size: 48px;
  color: LightBlue;
  cursor: pointer;
}
.fa-circle-xmark {
  font-size: 48px;
  color: LightPink;
  cursor: pointer;
}
.ocultar{
  display:none;
}
nav button{
	z-index:20;
}
nav ul{
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
  z-index:10;
  left:100%;
  background: black;
  color:white;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  transition: all 0.7s;
}
.open {
  visibility: visible;
  left:0%;
}
li{
  font-size: 3em;
  cursor: pointer;
}
li::before {
  content: attr(data-text);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  z-index: 0;
  pointer-events: none; 
  display:none;
}
ul li:nth-child(1):hover {
  color: #FFB6C1;
}
ul li:nth-child(1):hover:before {
  color: rgba(255, 182, 193, 0.2);
}

ul li:nth-child(2):hover {
  color: #AEC6CF;
}
ul li:nth-child(2):hover:before {
  color: rgba(174, 198, 207, 0.2);
}
ul li:nth-child(3):hover {
  color: #77DD77;
}
ul li:nth-child(3):hover:before {
  color: rgba(119, 221, 119, 0.2);
}
ul li:nth-child(4):hover {
  color: #FDFD96;
}
ul li:nth-child(4):hover:before {
  color: rgba(253, 253, 150, 0.2);
}
ul li:nth-child(5):hover {
  color: #ff5733;
}
ul li:nth-child(5):hover:before {
  color: rgba(255, 87, 51, 0.2);
}

nav ul li:hover::before {
  display: inline;
  animation-name: elzoom;
  animation-duration: 1s;
}
@keyframes impacto {
  from {font-size: 12em;}
  to {font-size: 5em;}
}
@keyframes elzoom {
  from {letter-spacing: 2em;}
  to {letter-spacing: normal;}
}

.contactos{
	width:100vw;
	height:100vh;
	background: black;
}
.d-none{display:none;}
section.contactos div:first-child{	
  position:absolute;
  z-index:0;
  background: black;
  width:100vw;
  height:100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, black), url('https://mediosdeyuki.blob.core.windows.net/contenidosyuki/Imagen%20de%20WhatsApp%202024-08-20%20a%20las%2003.47.11_74366d7a.jpg?sp=r&st=2024-08-21T18:17:17Z&se=2024-10-01T02:17:17Z&spr=https&sv=2022-11-02&sr=b&sig=gWlP7dkyGY8tqlXb8AfS%2Ftvf2ElV9zSRzFY8y%2FSJcDc%3D');
  background-size: 40% 100%;
  background-position: -5vw center;
 background-repeat: no-repeat;
 filter: brightness(80%) contrast(90%);
}
section.contactos div:nth-child(2){
  width:50%;
  height:100vh;
  display:flex;
  align-items:center;
  float:right;
  overflow:hidden;
  
}
section.contactos ul{
  color: white;
  list-style-type: none;
  position:relative;
  animation-name: desplazar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
section.contactos li{
  display:flex;
  align-items:center;
  font-size: 3em;
}
section.contactos span{padding-left:10px;}
section.contactos svg{
  width:1em;
  height:1em;
  fill:white;
}
@keyframes desplazar {
  0%   {opacity:0.0; top:100%;}
  10%  {opacity:1.0; top:0%;}
  100% {opacity:1.0; top:0%;}
}

.servicios{
	width:100vw;
	height:100vh;
	background-color:blue;
	padding-top:2rem;
}
.servicios p{
	color:white;
	text-align:center;
	margin:1rem;
}
.servicios h4{
	color:white;
	text-align:center;
	margin:1rem;
}
.servicios h3{
	color:white;
	text-align:center;
	margin:1rem;
}
.servicios h2{
	color:Azure;
	text-align:center;
	font-size: 3em;
	margin:1rem;
}
.servicios-flex{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.servicios-card{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
section.servicios span{
	background-color:white;
	padding:1rem;
	margin-top:2rem;
	margin-bottom:2rem;
	border-radius:50%;
	width: 8rem;
    aspect-ratio: 1 / 1;
	display:flex;
	justify-content:center;
	align-items: center;
}
.fa-bolt-lightning, .fa-chalkboard-user, .fa-code, .fa-sitemap  {
  font-size: 4rem;
  color: Blue;
}

.skill{
	background-color:DarkSlateGray;
	padding-top:2rem;
	padding-bottom:2rem;	
}
.skill p{
	color:white;
	text-align:center;
	margin:1rem;
}
.skill h4{
	color:MidnightBlue;
	text-align:center;
	margin:1rem;
}
.skill h3{
	color:MidnightBlue;
	text-align:center;
	margin:1rem;
}
.skill h2{
	color:Azure;
	text-align:center;
	font-size: 3em;
	margin:1rem;
}
.skill li{
	font-size:1rem;
	list-style-type: none;
}
.skill-scene{
  background-color:DarkSlateGray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left:6%;
  perspective: 900px;
}
.skill-scene div{
  border-radius: 20px; 
}
.skill-card{
  width: 240px;
  height: 300px;
  cursor: pointer;
  flex: 1 1 calc(30% - 10px);
  margin-top: 50px;
  overflow:hidden;
 }
.card__flip{
  width: 240px;
  height: 300px;
  
  transition: 1s ease-in-out;
  transform-style: preserve-3d;  
}
.skill-card:hover .card__flip{
  transform: rotateY(0.5turn);
}
.card__face {
  width: 100%;
  height: 100%;
  
  position: absolute;
  backface-visibility: hidden;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}
.card__front, .card__back{
  background:white;
  
}
.skill-card h2{text-align:center;}
.skill-card img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.card__back {
  transform: rotateY(0.5turn);
}


.experiencia{
	background-color:LightSteelBlue;		
	padding-top:2rem;
	padding-bottom:2rem;	
}
.experiencia p{
	color:MidnightBlue;
	text-align:center;
	margin:1rem;
}
.experiencia h2{
	color:MidnightBlue;
	text-align:center;
	font-size: 3em;
	margin:1rem;
}

.acordeon {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.acordeon-item {
    border-bottom: 1px solid #ccc;
}

.acordeon-titulo {
    width: 100%;
    padding: 15px;
    text-align: left;
    background: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.acordeon-titulo:hover {
    background: #ddd;
}

.acordeon-contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: white;
    padding: 0 15px;
}

.acordeon-contenido p {
    margin: 15px 0;
}

.certificados{
	background-color:LightGray;		
	padding-top:2rem;
	padding-bottom:4rem;
	padding-left:8rem;
	padding-right:8rem;
}
.certificados p{
	color:DarkBlue;
	text-align:center;
	margin:1rem;
}
.certificados h2{
	color:DarkBlue;
	text-align:center;
	font-size: 3em;
	margin:1rem;
}
.portfolio-item-content{
	position:absolute;
	border:20px solid red;
}
.certificados-flex{
	display:flex;
	justify-content: space-between;
}
.mimodal-card {
	width: 16rem;
    aspect-ratio: 3 / 2;	
	overflow:hidden;
}
.mimodal-content{
	position:absolute;
	width: 16rem;
    aspect-ratio: 3 / 2;
	display:none;
}
.mimodal-card span{
	width:40rem;
	position:absolute;
	padding-left:35rem;
	padding-top:2rem;
	display:none;
}
.mimodal-card:hover .mimodal-content{
	background-color: rgba(0, 255, 255, 0.4);
	display:flex;
	align-items:center;
	justify-content:center;
}

.zoom-card{
	width: 40rem;
}
.zoom-card span{
	display:inline;
}
.zoom-card img{
	width: 40rem;
    aspect-ratio: 3 / 2;	
}
.zoom-card:hover .mimodal-content{
	display:none;
}
.mimodal-show{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:grey;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:6rem;
}
.mimodal-show div{
	width: 50rem;
    aspect-ratio: 3 / 2;	
}
.mimodal-show img {

}
.mimodal-show button{
	position:absolute;
	width:50rem;
	left:0;
	right:0;
	margin:auto;
	/*position:relative;
	
	right:0;
	margin:auto;*/
	
}
.abreCierra{
	display:none;
}
/* Estilos para el botón */
#goTopBtn {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    bottom: 20px; /* 20px desde el fondo */
    right: 30px; /* 30px desde la derecha */
    z-index: 99; /* Asegura que esté por encima de otros elementos */
    font-size: 18px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    background-color: #00ba00; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de puntero */
    padding: 6px; /* Relleno */
    border-radius: 10px; /* Bordes redondeados */
}

#goTopBtn img{
	width: 3rem;
    aspect-ratio: 1 / 1;	
}

#goTopBtn:hover img{
    width: 3.5rem;
}


footer{
	background-color:MediumSeaGreen;
	padding-top:3rem;
	padding-bottom:3rem;
}